.container {
  overflow: hidden;
}
.container h1 {
  padding: 200px;
  position: relative;
  z-index: 2;
}

.container h6 {
  position: relative;
  z-index: 2;
}

.container img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.4;
}
