body {
  background-color: rgb(253, 213, 219);
}
.container {
  overflow: hidden;
  font-family: Georgia, "Times New Roman", Times, serif;
}

p {
  font-size: 16px;
  font-weight: bold;
}
.container h1 {
  padding: 200px;
  position: relative;
  z-index: 2;
}

.container h6 {
  position: relative;
  z-index: 2;
}

.container img {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.4;
}

.nav-wrapper {
  padding: 15px;
  z-index: 1;
}

.modal button {
  float: right;
}

#modal1 {
  height: 100%;
  width: 90%;
}

object {
  height: 500px;
  width: 100%;
}

.submitBtn {
  background-color: rgb(234, 109, 115);
}

#aboutMe {
  margin-top: 20px;
}
#portImage {
  z-index: 1;
  opacity: 1;
  width: 200px;
  height: 200px;
  position: relative;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(243, 211, 213);
}
#neilImage {
  z-index: 1;
  opacity: 1;
  width: 200px;
  height: 200px;
  position: relative;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(243, 211, 213);
}

#beachImage {
  z-index: 1;
  opacity: 1;
  width: 200px;
  height: 200px;
  position: relative;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(243, 211, 213);
}

#portfolio {
  width: 100%;
}

#portfolio img {
  z-index: 1;
  opacity: 1;
  width: 300px;
  height: 200px;
  position: relative;
}
